<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Reason</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for request in leave_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ request.reason }}</td>
                <td>{{ request.date }}</td>
                <td>{{ request.get_status_display }}</td>
                <td>
                    <a href="{% url 'leave:leave_request_approve' request.id %}" class="btn btn-success">Approve</a>
                    <a href="{% url 'leave:leave_request_reject' request.id %}" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

